---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% include category.html %}
  
  <!-- {%- if site.posts.size > 0 -%}
    {% for category in site.categories %}
        <h2 class="post-list-heading">{{ page.list_title | default: category[0] }}</h2>
        <ul class="post-list">
            {% for post in category[1] %}
            <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}" target="_blank">
                        {{ post.title | escape }}
                    </a>
                 </h3>
                 {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                 {%- endif -%}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
  {%- endif -%} -->

</div>